.mobile-button {
  cursor: pointer;
  margin-bottom: 15px;
}

.mobile-menu {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 245px;
  left: 5%;
  z-index: 100;
}



.mobile-menu li {
  display: block;

}


.mobile-menu li a {
  display: block;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
  background-color: rgba(0, 163, 156, .8);
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #fff;
}

.mobile-menu li a:hover {
  background-color: #252525;
}

.mobile-menu a.active {
  background-color: #252525;
}
